body {
  font-family: "Roboto", sans-serif;
  background-color: azure;
}

h1 {
  text-align: center;
  font-size: 26px;
}

form {
  width: 40rem;
  margin: 2rem auto;
  background-color: rgba(222, 224, 230, 0.508);
  font-size: 15px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgb(68, 67, 67);
}

section {
    margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
    color: rgb(64, 64, 180);
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    
}

input, textarea, select {
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    border: 1px solid grey;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    background-color: rgb(167, 209, 209);
}


.reply-method {
    display: flex;
    font-size: 16px;
    width: 100;
    box-sizing: border-box;
}

.reply-method input {
    width: auto;
}

.reply-method label {
    margin: 0;
    margin-left: 0.5rem;
}


button {
    font: inherit;
    
    border: 1px solid grey;
    border-radius: 3px;
    padding-top: 0.5rem 1.5rem;
    cursor: pointer;
}

.btn-filled {
    background-color: rgb(135, 135, 200);
    color: white;
}

.btn-empty {
    background-color: transparent;
    color: grey;
}

.btn-filled:hover {
    background-color: grey;
    color: aliceblue;
    border-radius: 3px;
    box-shadow: none;
}

.btn-empty:hover {
    background-color: aliceblue;
}

#form-actions {
    text-align: end;
}

/* form h2 {
    font-weight: bold;
    
} */














/* .terms {
    display: flex;
    padding-top: 1rem;

} 
.terms input {
    width: auto;
}

.terms label {
    margin: 0 0.5rem;
} */


